@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

@font-face {
	font-family: "Gilroy-Extra-Bold";
	src: url("../../fonts/gilroy-extrabold-webfont.woff"),
		url("../../fonts/gilroy-extrabold-webfont.woff2"),
		url("../../fonts/gilroy-extrabold-webfont.eot"), url("../../fonts/gilroy-extrabold-webfont.svg"),
		url("../../fonts/gilroy-extrabold-webfont.ttf");
}
@font-face {
	font-family: "edo";
	src: local("../../fonts/edo.ttf") format("truetype");
}

*,
*::after,
*::before {
	// margin: 0;
	// padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%; /*with this 1rem=10px instead of 16px */
	margin: 0 auto;
}

body {
	box-sizing: border-box;
	font-family: "Space Grotesk", "Open-Sans";
	font-size: 1.3rem;
}

.container-fluid {
	max-width: 90%;
	margin: 0 auto;
}
