@use "../../sass/abstracts/mixins" as m;
@use "../../sass/abstracts/variables" as v;
@use "../../sass/base/animations" as a;

.project {
	display: flex;
	position: relative;
	border-radius: 1rem;
	overflow: hidden;
	box-shadow: 2px 0 5px 1px rgba(v.$white, 0.5);

	.hidden {
		visibility: none;
		opacity: 0;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(v.$primary, 0.6);

		&-buttons {
			position: absolute;
			top: 50%;
			transform: translateY(-49px);
		}
	}

	&:hover .hidden {
		visibility: visible;
		opacity: 1;
		transition: all 0.7s ease-in-out;
	}

	@media screen and (max-width: 1199px) {
		max-width: 80%;
		margin: 0 auto;
		margin-bottom: 2rem;

		.hidden {
			visibility: visible;
			opacity: 1;
		}
	}

	img {
		background-size: cover;
		max-width: 100%;
	}
}

@media screen and(min-width:1200px) {
	.project {
		margin: 0;
		&:hover {
			.project-title {
				animation-name: myAnimationLeft;
				animation-duration: 1.2s;
			}
		}
	}
	.projects-container {
		display: grid;
		min-height: 90%;
		grid-template-rows: repeat(6, 1fr);
		grid-template-columns: repeat(6, 1fr);
		grid-gap: 2rem;
	}
	.project-1 {
		background-color: blue;
		grid-column-start: 1;
		grid-column-end: 5;
		grid-row-start: 1;
		grid-row-end: 4;
	}
	.project-2 {
		background-color: brown;
		grid-column-start: 1;
		grid-column-end: 5;
		grid-row-start: 4;
		grid-row-end: 7;
	}
	.project-3 {
		background-color: red;
		grid-column-start: 5;
		grid-column-end: 7;
		grid-row-start: 1;
		grid-row-end: 3;
	}
	.project-4 {
		background-color: green;
		grid-column-start: 5;
		grid-column-end: 7;
		grid-row-start: 3;
		grid-row-end: 5;
	}
	.project-5 {
		background-color: purple;
		grid-column-start: 5;
		grid-column-end: 7;
		grid-row-start: 5;
		grid-row-end: 7;
	}
}

.box-shadow-dark {
	box-shadow: 5px 0 5px 1px rgba(v.$black, 1);
}
